enemies_improved/__folder_managed_by_vortex
enemies_improved/scripts/__folder_managed_by_vortex
enemies_improved/scripts/mods/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/modules/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/modules/animations/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/templates/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/templates/healthbars/__folder_managed_by_vortex
enemies_improved/scripts/mods/enemies_improved/utils/__folder_managed_by_vortex
